:root {
  /* Custom colour variables */
  /* *********************** */

  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);

  /* Custom variables for responsive width and height with viewport resizing */
  /* *********************************************************************** */

  --ratio: 350 / 360; /* Card width/height ratio: 350px/360px respectively */
  --height: 85vmin;
  --width: calc(var(--height) * var(--ratio));

  /* Calculates root font-size at various viewport sizes */
  /* ********************************************************* */

  --font-size-ratio: 10 / 350; /* font-size 10px at width: 350px */
  font-size: calc(var(--width) * var(--font-size-ratio));
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: url("/images/bg-pattern-top.svg") no-repeat right 50vw bottom 50vh,
   url("/images/bg-pattern-bottom.svg") no-repeat left 50vw top 50vh;
  background-color: var(--dark-cyan);
}

body, .age {
  font-weight: 400;
  color: var(--dark-gray);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  text-align: center;
  background: #fff;
  height: 36em;
  border-radius: 1.5em;
  overflow: hidden;
  box-shadow: 0 0.6em 1.1em 0.1em rgba(0, 0, 0, 0.3);
}

.profile-card, .profile-card-pattern {
  width: 35em;
}

.profile-photo {
  border: 0.4em solid #fff;
  border-radius: 50%;
  width: 10em;
  margin-top: -5.3em;
}

.profile-name, .stats-heading {
  color: var(--very-dark-desaturated-blue);
  font-size: 1.8em;
  font-weight: 700;
  margin: 1em 0 0 0;
}

.profile-country {
  font-size: 1.4em;
  margin: 0.714em 0 1.714em;
}

hr {
  border-top: 0;
}

.profile-card-stats {
  display: flex;
  justify-content: space-evenly;
}

.stats {
  flex: 0 1 15%;
}

.stats>p {
  letter-spacing: 0.1em;
  margin-top: 0.4em;
}

.attribution {
  font-size: 1.1em;
  text-align: center;
}

.attribution a {
  color: var(--very-dark-desaturated-blue);
}

.attribution p {
  color: var(--dark-grayish-blue);
}

@media only screen and (min-height: 424px) and (min-width: 424px) {
  :root {
    --height: 360px;
  }
